<section id="contact-info">
        <div class="center">                
            <h2>Login Form</h2>
            <p class="lead">&nbsp;</p>
            <!-- FORM BUAT TAMBAH -->   
        <div class="form">
                <div class="form-bg">
                    <div class="form-style-1 form-wrapper" id="form-1">                     
                        <div class="popup-content">
                            <div class="formLogin">
                                
                                <div class="contentLogin" align="center">
                                    <form method="post" action="{$basedomain}login/doLogin">
                                        <table class="tableForm">
                                            <tr style="margin-bottom:10px;">
                                                <td>Email</td><td>:</td>
                                                <td><input type="text" name="email" value="" size="20" id="username"/> 
                                            </tr>
                                            <tr>
                                                <td>Password</td><td>:</td>
                                                <td><input type="password" name="password" value="" size="20" id="password"/>
                                            </tr>                                
                                            <tr>
                                                <td colspan="3" align="right">   
                                                <button id="btn-dis" class="btn btn-info" type="submit">
                                                    <i class="fa fa-save"></i>
                                                    Login
                                                    </button>   
                                                    <a href="{$basedomain}register"><button id="btn-dis" class="btn btn-success" type="button">
                                                    <i class="fa fa-save"></i>
                                                    Register
                                                    </button></a>
                                                    <a href="{$basedomain}"><button id="btn-dis" class="btn btn-warning" type="submit">
                                                    <i class="fa fa-save"></i>
                                                    Cancel
                                                    </button></a>

                                                </td>
                                            </tr>
                                        </table>
                                     </form>
                                </div>
                            </div>                                              
                        </div>
                    </div>
                    <!--ENDS Popup Type 1-->
                </div>
                <!--ENDS Popup Background-->
        </div>
        </div>
        
    </section>


        