<div class="header navbar navbar-default navbar-fixed-top">
                <div class="col-md-3 logo navbar-header" align="right">
                    <h1 style="">Info Volunteer</h1>
                    <!-- <a href="#"><img src="{$basedomain}assets/images/logo.png" alt=""/></a> -->
                </div>
                <div class="col-md-6 search">
                    <form>
                        <input type="search" value="Search" onfocus="" onblur="" required="">
                        <input type="submit" value=" ">
                    </form>
                </div>

                <div class="col-md-3 top-nav">
                    <span class="menu">Menu</span>      
                    <ul class="nav1">
                        <li><a href="#" class="active1" data-hover="Home">Event</a></li>
                        
                        <li><a href="#" data-hover="About">Group</a></li>    {*}              
                        <li><a href="#" data-hover="Gallery">Gallery</a></li>
                        <li><a href="#" data-hover="Blog">Blog</a></li> 
                        <li><a href="#" data-hover="Typo">Typo</a></li>
                        <li><a href="#" data-hover="Contact">Contact</a></li>
                        {/*}
                    </ul>               
                    <!-- script-for-menu -->
                     
                    <!-- /script-for-menu -->
                </div>
                <div class="clearfix"></div>
            </div>