<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Info Volunteer</title>
        <!-- Custom Theme files -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="info volunteer indonesia" />

        <link href="{$basedomain}assets/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
        <link href="{$basedomain}assets/css/ask-style.css" type="text/css" rel="stylesheet" media="all">
        <link rel="stylesheet" href="{$basedomain}assets/css/clndr.css" type="text/css" />
        <link href="{$basedomain}assets/css/jquery.nouislider.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{$basedomain}assets/css/fd-slider.css">    
        <link href="{$basedomain}assets/css/jplayer.blue.monday.min.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{$basedomain}assets/css/graph.css">
        
        <script src="{$basedomain}assets/js/jquery-1.11.1.min.js"></script> 
        <script type="application/x-javascript">{literal} addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } {/literal}</script>
    </head>