<section id="main-slider" class="no-margin hidden-xs">
        <div class="carousel slide">{*}
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
                <li data-target="#main-slider" data-slide-to="3"></li>
                <li data-target="#main-slider" data-slide-to="4"></li>
                <li data-target="#main-slider" data-slide-to="5"></li>
            </ol>{/*}
            <div class="carousel-inner">

            
				
				 <div class="item active" style="background-image: url({$app_domain}public_assets/{$data.fotoDepan})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    

                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>

                    <div class="col-md-6" style="margin-top:330px">
                        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">

                            
                            <table class="table">
                                
                                <thead>
                                <tr>
                                    
                                    <th align="center">Item</th>
                                    <th align="center">Hasil</th>
                                    <th align="center">Verifikasi</th>
                                </tr>
                                </thead>
                                <tbody>
                                
                                
                                <tr>
                                    
                                    <td>Jenis Gambar</td>
                                    <td>
                                        <select class="form-control">
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                            <option>6</option>
                                        </select>
                                    </td>
                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                </tr>
                                <tr>
                                    
                                    <td>Tulisan peringatan kesehatan</td>
                                    <td><select class="form-control">
                                        <option>Merokok Sebabkan Kanker Mulut</option>
                                            
                                        </select></td>
                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                </tr>
                                <tr>
                                    
                                    <td>Luas Depan (%)</td>
                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                </tr>
                                
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div><!--/.item-->
				   
                
                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoBelakang})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
									<h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    <div class="col-md-12" style="margin-top:330px">
                                        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">

                                            
                                            <table class="table">
                                                
                                                <thead>
                                                <tr>
                                                    
                                                    <th align="center">Item</th>
                                                    <th align="center">Hasil</th>
                                                    <th align="center">Verifikasi</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                
                                                
                                                <tr>
                                                    
                                                    <td>Jenis Gambar</td>
                                                    <td><select class="form-control">
                                                            <option>1</option>
                                                            <option>2</option>
                                                            <option>3</option>
                                                            <option>4</option>
                                                            <option>5</option>
                                                            <option>6</option>
                                                        </select></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Tulisan peringatan kesehatan</td>
                                                    <td><select class="form-control">
                                                            <option>Merokok Membunuhmu</option>
                                                            
                                                        </select></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Luas Depan (%)</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoKiri})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    <div class="col-md-12" style="margin-top:330px">
                                        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">

                                            
                                            <table class="table">
                                                
                                                <thead>
                                                <tr>
                                                    
                                                    <td>Kadar Nikotin (mg)</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                     <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Kadar TAR (mg)</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "dilarang menjual atau memberi kepada anak dan  perempuan hamil"</td>
                                                    <td>&nbsp;</td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "tidak ada batas aman"</td>
                                                    <td>&nbsp;</td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "mengandung lebih dari 4000 zat kimia …..."</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoKanan})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    <div class="col-md-12" style="margin-top:330px">
                                        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">

                                            
                                            <table class="table">
                                                
                                                <thead>
                                                <tr>
                                                    
                                                    <td>Kadar Nikotin (mg)</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                     <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Kadar TAR (mg)</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "dilarang menjual atau memberi kepada anak dan  perempuan hamil"</td>
                                                    <td>&nbsp;</td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "tidak ada batas aman"</td>
                                                    <td>&nbsp;</td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Pernyataan "mengandung lebih dari 4000 zat kimia …..."</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->

                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoAtas})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->


                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoBawah})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-10">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    <div class="col-md-12" style="margin-top:330px">
                                        <div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">

                                            
                                            <table class="table">
                                                
                                                <thead>
                                                <tr>
                                                    
                                                    <td>Nama dan Alamat Produsen</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                     <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Kode Produksi</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                <tr>
                                                    
                                                    <td>Tanggal dan Tahun Produksi</td>
                                                    <td><input type="text" name="kataPromotif" class="form-control jenisrokok" value="" /></td>
                                                    <td><input type="checkbox" name="pelaporanKemasan[]" class="form-control namaprodusen" value=""/></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->
                {*}
               

               

                
                
                <div class="item" style="background-image: url({$app_domain}public_assets/{$data.fotoBawah})">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h1 class="animation animated-item-1"></h1>
                                    <h2 class="animation animated-item-2"></h2>
                                    <a class="btn-slide animation animated-item-3" href="javascript:void(0)" style="margin-top:214px">Foto Bawah</a>
                                </div>
                            </div>

                            
                        </div>
                    </div>
                </div><!--/.item-->

                {/*}
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left"></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>

    </section><!--/#main-slider-->


