<!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Detail Event
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Event</a></li>
            <li class="active">Detail Event</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">

          <div class="row">
            <div class="col-md-3">

              <!-- Profile Image -->
              <div class="box box-primary">

                <div class="box-header with-border">
                  <h3 class="box-title">Admin Event</h3>
                </div><!-- /.box-header -->
                <div class="box-body box-profile">
                  <div class="row">
                    <div class="col-md-5">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h3 class="profile-username text-center">Ovan Pulu</h3>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-5">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h3 class="profile-username text-center">Mara Nugraha</h3>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h3 class="profile-username text-center">Junaedi</h3>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>
                </div><!-- /.box-body -->
              </div><!-- /.box -->

              <!-- About Me Box -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Member</h3>
                  <a href="#"><h6 class="box-title pull-right">See All</h6></a>
                </div><!-- /.box-header -->
                <div class="box-body">
                   <div class="row">
                    <div class="col-md-4">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h4 class="profile-username text-center">Junaedi</h4>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-4">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h4 class="profile-username text-center">Junaedi</h4>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h4 class="profile-username text-center">Junaedi</h4>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h4 class="profile-username text-center">Junaedi</h4>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-4">
                      <img class="profile-user-img img-responsive img-circle" src="{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg" alt="User profile picture">
                    </div>
                    <div class="col-md-7">

                        <h4 class="profile-username text-center">Junaedi</h4>
                        <p class="text-muted text-center">Software Engineer</p>
                    </div>
                  </div>

                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div><!-- /.col -->
            <div class="col-md-9">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                  <li class="active"><a href="#settings" data-toggle="tab">Detail Event</a></li>
                </ul>
                <div class="tab-content">
                 
                  

                   <div class="box box-widget">
                <div class='box-header with-border'>
                  <div class='user-block'>
                    <img class='img-circle' src='{$basedomain}applications/default/assets/dist/img/user2-160x160.jpg' alt='user image'>
                    <span class='username'><a href="#">Ovan Sunarto Pulu.</a></span>
                    <span class='description'>Shared publicly - 7:30 PM Today</span>
                  </div><!-- /.user-block -->
                  <div class='box-tools'>
                     <button class='btn btn-primary' data-toggle='tooltip' title='Join Event'><i class='fa fa-users'></i> Join</button>
                     <button class='btn btn-info' data-toggle='tooltip' title='Invite to Event'><i class='fa fa-user-plus'></i> Invite</button>
                   <!--  <button class='btn btn-box-tool' data-toggle='tooltip' title='Mark as read'><i class='fa fa-circle-o'></i></button>
                    <button class='btn btn-box-tool' data-widget='collapse'><i class='fa fa-minus'></i></button>
                    <button class='btn btn-box-tool' data-widget='remove'><i class='fa fa-times'></i></button> -->
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class='box-body'>
                  <img class="img-responsive pad" src="{$basedomain}applications/default/assets/dist/img/photo.jpg" alt="Photo" width="100%">

                  <div class="row">
                    <div class="col-md-9">
                     <a href="{$basedomain}home/detail"> <h3>Event Volunteer ASAP</h3></a>
                      <p><strong>DATE</strong> : 19 novenber 2015</p>
                      <p><strong>Place</strong> : RIAU</p><br/>
                      <p><strong>Open Register</strong></p>
                      <p>10 Novenber 2015</p>
                    </div>
                    <div class="col-md-3">
                    &nbsp; <!-- <button class='btn btn-danger'><i class='fa fa-share'></i> Share</button>
                      <button class='btn btn-default'><i class='fa fa-thumbs-o-up'></i> Detail</button>
                       <button class='btn btn-info'><i class='fa fa-thumbs-o-up'></i> Detail</button>
                      <button class='btn btn-success'><i class='fa fa-thumbs-o-up'></i> Join</button>
                      <span class='pull-right text-muted'>127 likes - 3 comments</span> -->
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-md-9">
                     &nbsp; </div>
                    <div class="col-md-3">
                      <button class='btn btn-danger'><i class='fa fa-share'></i> Share</button>
                      <button class='btn btn-default'><i class='fa fa-send-o'></i> Detail</button>
                      <!-- <button class='btn btn-info'><i class='fa fa-thumbs-o-up'></i> Detail</button>
                      <button class='btn btn-success'><i class='fa fa-thumbs-o-up'></i> Join</button>
                      <span class='pull-right text-muted'>127 likes - 3 comments</span> -->
                    </div>
                  </div>
                </div><!-- /.box-body -->

                <div class='box-body'>
                  <div class="row">
                    <div class="col-md-11">
                     <h4>Description</h4>
                      <p>Musim kemarau lebih panjang dan asap lebih luar biasa daripada tahun 1997-1998 kalau saya tambah US$9 miliar plus kerugian yang ada di Singapura dan Malaysia masing -masing US$2 miliar, jadi US$13 miliar, ditambah faktor seperti angka inflasi, jadi bisa bervariasi antara US$14 miliar hingga US$20 miliar, tergantung angka inflasi yang kita terapkan,” jelas Herry</p>
                    </div>
                    
                  </div>

                </div><!-- /.box-body -->
                <!--comment-->
                <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#activity">Member Post</a></li>
              <li><a data-toggle="tab" href="#timeline">Public Comment</a></li>
            </ul>
            <div class="tab-content">
              <div id="activity" class="active tab-pane">
                <!-- Post -->
                 <div class="box-footer">
                  <form action="#" method="post">
                    <img class="img-responsive img-circle img-sm" src="{$basedomain}applications/default/assets/dist/img/user4-128x128.jpg" alt="alt text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                     <div class="input-group input-group-sm">
                         <div class="input-group-addon">
                          <i class="fa fa-camera"></i>
                        </div>
                          <input type="text" class="form-control" placeholder="Press enter to post comment">
                          <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Post</button>
                          </span>
                       </div>
                      
                    </div>
                  </form>
                </div><!-- /.box-footer -->
                  <div class='box-footer box-comments'>
                  <div class='box-comment'>
                    <!-- User image -->
                    <img class='img-circle img-sm' src='{$basedomain}applications/default/assets/dist/img/user3-128x128.jpg' alt='user image'>
                    <div class='comment-text'>
                      <span class="username">
                        Iman Muharam
                        <span class='text-muted pull-right'>8:03 PM Today</span>
                      </span><!-- /.username -->
                      It is a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its layout.
                    </div><!-- /.comment-text -->
                  </div><!-- /.box-comment -->
                  <div class='box-comment'>
                    <!-- User image -->
                    <img class='img-circle img-sm' src='{$basedomain}applications/default/assets/dist/img/user4-128x128.jpg' alt='user image'>
                    <div class='comment-text'>
                      <span class="username">
                        Evans
                        <span class='text-muted pull-right'>8:03 PM Today</span>
                      </span><!-- /.username -->
                      It is a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its layout.
                    </div><!-- /.comment-text -->
                  </div><!-- /.box-comment -->
                </div><!-- /.box-footer -->
               

              

          
              </div>
              <!-- /.tab-pane -->
              <div id="timeline" class="tab-pane">
                <!-- The timeline -->
                <div class="box-footer">
                   <form action="#" method="post">
                    <img class="img-responsive img-circle img-sm" src="{$basedomain}applications/default/assets/dist/img/user4-128x128.jpg" alt="alt text">
                    <!-- .img-push is used to add margin to elements next to floating images -->
                    <div class="img-push">
                      <div class="input-group input-group-sm">
                         <div class="input-group-addon">
                          <i class="fa fa-camera"></i>
                        </div>
                          <input type="text" class="form-control" placeholder="Press enter to post comment">
                          <span class="input-group-btn">
                            <button class="btn btn-info btn-flat" type="button">Post</button>
                          </span>
                       </div>
                     
                      
                    </div>
                  </form>
                </div><!-- /.box-footer -->
                  <div class='box-footer box-comments'>
                  <div class='box-comment'>
                    <!-- User image -->
                    <img class='img-circle img-sm' src='{$basedomain}applications/default/assets/dist/img/user3-128x128.jpg' alt='user image'>
                    <div class='comment-text'>
                      <span class="username">
                        Bayu
                        <span class='text-muted pull-right'>8:03 PM Today</span>
                      </span><!-- /.username -->
                      It is a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its layout.
                    </div><!-- /.comment-text -->
                  </div><!-- /.box-comment -->
                  <div class='box-comment'>
                    <!-- User image -->
                    <img class='img-circle img-sm' src='{$basedomain}applications/default/assets/dist/img/user4-128x128.jpg' alt='user image'>
                    <div class='comment-text'>
                      <span class="username">
                        Maara
                        <span class='text-muted pull-right'>8:03 PM Today</span>
                      </span><!-- /.username -->
                      It is a long established fact that a reader will be distracted
                      by the readable content of a page when looking at its layout.
                    </div><!-- /.comment-text -->
                  </div><!-- /.box-comment -->
                </div><!-- /.box-footer -->
               

              
              </div>
              <!-- /.tab-pane -->

           
            </div>
            <!-- /.tab-content -->
          </div>
                

             
              </div><!-- /.box -->
                </div><!-- /.tab-content -->
              </div><!-- /.nav-tabs-custom -->
            </div><!-- /.col -->
          </div><!-- /.row -->

        </section><!-- /.content -->
      </div><!-- /.content-wrapper -->