<div class="col-sm-12">
  	<div class="form-group">
  	<label for="text-input">Apa motifasi anda ?</label>
      <input type="text" name="namaIndustri" class="form-control" value="{$data.namaIndustri}"  />
  	</div>
</div> 
<div class="col-sm-12">
  	<div class="form-group">
  	<label for="text-input">Pertanyan 1</label>
      <input type="text" name="namaIndustri" class="form-control" value="{$data.namaIndustri}"  />
  	</div>
</div> 
<div class="col-sm-12">
  	<div class="form-group">
  	<label for="text-input">Pertanyan 2</label>
      <input type="text" name="namaIndustri" class="form-control" value="{$data.namaIndustri}"  />
  	</div>
</div> 
            
<div class="col-sm-12">
  	<div class="form-group">
  	
      <input type="button" name="namaIndustri" class="btn btn-info" value="Lanjutkan"  />
  	</div>
</div>