  <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            Add Event
            <small>Event</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Add Event</a></li>
            <li class="active">Event</li>
          </ol>
        </section>

        <!-- Main content -->
        
        <section class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="box box-primary">
				            <div class="box-header with-border">
				              <h3 class="box-title">Form Create Event</h3>
				            </div>
				            <!-- /.box-header -->
				            <!-- form start -->
				            <form class="form-horizontal">
					              <div class="box-body">
					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputEmail3">Nama Event</label>

					                  <div class="col-sm-10">
					                    <input type="text" placeholder="Nama Event" id="inputEmail3" class="form-control">
					                  </div>
					                </div>
					                 <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputEmail3">Date Event</label>

					                  <div class="col-sm-10">
					                   <div class="row">

					                  	<div class="col-sm-6">
						                   <div class="input-group">
							                  <div class="input-group-addon">
							                    <i class="fa fa-calendar"></i>
							                  </div>
							                  <input type="text" id="calendar" class="form-control pull-right active" placeholder="Start Date">
							                </div>
							              </div>

							              <div class="col-sm-6">
						                   <div class="input-group">
							                  <div class="input-group-addon">
							                    <i class="fa fa-calendar"></i>
							                  </div>
							                  <input type="text" id="reservation" class="form-control pull-right active" placeholder="End Date">
							                </div>
							              </div>
						         	   </div>
					                  </div>
					                </div>
					               
					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Place</label>

					                  <div class="col-sm-10">
					                    <input type="text" placeholder="Place" id="inputPassword3" class="form-control">
					                  </div>
					                </div>
					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Closing Registration</label>

					                  <div class="col-sm-10">
					                   <div class="input-group">
							                  <div class="input-group-addon">
							                    <i class="fa fa-calendar"></i>
							                  </div>
							                  <input type="text" id="reservation" class="form-control pull-right active" placeholder="Closing Registration">
							                </div>
							              </div>
					                  </div>
					                </div>

					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">How Many Volunteer</label>

					                  <div class="col-sm-10">
					                    <input type="text" placeholder="How Many Volunteer" id="inputPassword3" class="form-control">
					                  </div>
					                </div>

					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Event Description</label>

					                  <div class="col-sm-10">
					                    <textarea class="form-control" placeholder="Event Description"></textarea>
					                  </div>
					                </div>
					                 <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Need Question Form For Volunteer  <button class='btn btn-box-tool' data-widget='collapse' data-toggle='tooltip' title='Description NeedQuestion'><i class='fa fa-question'></i></button></label>

					                  <div class="col-sm-10">
					                   <label>
					                      <input type="radio" name="r3" class="flat-red" checked>
					                      YES
					                    </label>
					                    <label>
					                      <input type="radio" name="r3" class="flat-red" >NO
					                    </label>
					                  </div>
					                </div>

					                 <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Type of Event <button class='btn btn-box-tool' data-widget='collapse' data-toggle='tooltip' title='Description Type Of Event'><i class='fa fa-question'></i></button></label>

					                  <div class="col-sm-10">
					                    <label>
					                      <input type="radio" name="r3" class="flat-red" checked>
					                      Open to Public
					                    </label>
					                    <label>
					                      <input type="radio" name="r3" class="flat-red" >Closed To Public
					                    </label>
					                  </div>
					                </div>
					                <div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">Event Cover</label>

					                  <div class="col-sm-10">
					                    <input type="File" placeholder="File PNG / JPG" >
					                  </div>
					                </div>
									<div class="form-group">
					                  <label class="col-sm-2 control-label" for="inputPassword3">&nbsp;</label>

					                  <div class="col-sm-10">
					                   &nbsp;
					                  </div>
					                </div>

					              </div>
					              <!-- /.box-body -->
					              <div class="box-footer">
					                <button class="btn btn-default" type="submit">Cancel</button>
					                <button class="btn btn-primary pull-right" type="submit">Publish Event</button>
					              </div>
					              <!-- /.box-footer -->
					            </form>
				          </div>

					</div>
				</div>

				</section>

      </div><!-- /.content-wrapper -->