<div class="col-md-12" style="margin-bottom:10px">
    
    <img src="{$basedomain}public_assets/riau.jpg" width="100%">
    <h3>Mari peduli untuk saudara kita di Riau</h3>
    <p>[10 Okt - 15 Okt]</p>
    <hr>
    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
    <button type="button" class="btn btn-info">Comment</button>
    <button type="button" class="btn btn-warning">Share</button>
    <a href="{$basedomain}event"><button type="button" class="btn btn-default">Detail</button></a>
    <a href="{$basedomain}event/join"><button type="button" class="btn btn-success">Join</button></a>
    <hr>
</div>

