
                    <div class="search-btm">
                        <div class="temp">
                            <div class="temp-right">
                                <p class="date">FRI, 30/06</p>
                                <h5>25°C</h5>
                            </div>
                            <div class="temp-left">
                                <img src="{$basedomain}assets/images/cloud.png" alt="">
                            </div>                                                          
                        </div>
                        <div class="jobs">
                            <ul>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#"class="cmny">Company</a></li>
                                <li><a href="#"class="usr">User</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                
                
                    <h2>Ovan cop</h2>
                    <p>Kosan Kapuk, Jl. Margonda Raya Depok</p>

               

                
                    <h2>Available status</h2>
                    <p>Ovan cop</p>
                
                
                    <h2>Overview</h2>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
                
                    <h2>About Me</h2>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
                    <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années..</p>
               
                <div class="clearfix"></div>
                

            