
<div class="col-md-3 content-right">
    <div class="cntnt-img">
    </div>
    <div class="bnr-img">
        <img src="{$basedomain}assets/images/img2.jpg" alt=""/>
    </div>
    <div class="bnr-text">
        <a href="{$basedomain}member"><h1>Ovan Cop</h1><a/>
        <h5>www.design has.com</h5>
        <p>A wonderful designs has takenpossession of dummy text quis nostrum dummy text</p>
    </div>
    <div class="btm-num">
        <ul>
            <li>
                <h4>420</h4>
                <h5>Following</h5>
            </li>
            <li>
                <h4>100</h4>
                <h5>Likes</h5>
            </li>
            <li>
                <h4>60</h4>
                <h5>Shares</h5>
            </li>
        </ul>
    </div>              
</div>

            