<script type="text/javascript">
	function AreAnyCheckboxesChecked () {
	  if ($("#Form2 input:checkbox:checked").length > 0)
		{
		    $("#btn-dis").removeAttr("disabled");
		}
		else
		{
		   $('#btn-dis').attr("disabled","disabled");
		}
	}
</script>
<div id="content-header">
	<h1>Import Data</h1>
</div> <!-- #content-header -->	

<div id="content-container">

	<div class="row">

		<div class="col-md-12">

			<div class="portlet">

				<div class="portlet-header">

					<h3>
						<i class="fa fa-table"></i>
						Import Data Excel
					</h3>

				</div> <!-- /.portlet-header -->

				<div class="portlet-content">						

					<div class="table-responsive">
					{if !$preview}
					<form action="{$basedomain}import/parseExcel" method="POST" name="checks" ID="Form2"  enctype="multipart/form-data">

					
					<input type="file" class="btn btn-default btn-sm" name="file">

					<button type="submit" class="btn btn-info" id="btn-dis"><i class="fa fa-save"></i> Simpan</button>
					{/if}
					
					{if $data}
					<form action="{$basedomain}import/simpanData" method="POST" name="checks" ID="Form2"  enctype="multipart/form-data">


					<select class="btn btn-default btn-sm" style="text-align:left" name="balai">

						<option value="0">-- Pilih Balai --</option>
						{foreach $balai as $var}
						<option value="{$var.kodeBalai}">{$var.namaBalai}</option>
						{/foreach}

					</select>
					<select class="btn btn-default btn-sm" style="text-align:left" name="provinsi">
						<option value="0">-- Pilih Provinsi --</option>
						{foreach $wilayah as $var}
						<option value="{$var.kode_wilayah}">{$var.nama_wilayah}</option>
						{/foreach}
					</select>

					<button type="submit" class="btn btn-info" id="btn-dis"><i class="fa fa-save"></i> Submit</button>

					<table 
						class="table table-striped table-bordered table-hover table-highlight table-checkable" 
						data-provide="datatable" 
						data-display-rows="20"
						data-info="true"
						data-paginate="true"
					>
							<thead>
								<tr>
									<th class="checkbox-column">
										<input type="checkbox" class="icheck-input" onchange="return AreAnyCheckboxesChecked();">
									</th>
									<th data-filterable="true" data-sortable="true" >Merek</th>
									<th data-filterable="true" data-sortable="true" >Produsen</th>
									<th data-filterable="true" data-sortable="true">Jenis</th>
									<th data-filterable="true" data-sortable="true">Tanggal Pembelian</th>
									<th data-filterable="true" data-sortable="true">Lokasi</th>
								</tr>
							</thead>
							<tbody>

								{foreach $data as $var}
								<tr>
									<td class="checkbox-column">
										<input type="checkbox" class="icheck-input" name="ids[]" value="{$var.id}" onchange="return AreAnyCheckboxesChecked();">
									</td>
									<td><a href="{$basedomain}article/addarticle/?id={$var.id}" data-toggle="tooltip" data-placement="right" title="Edit or view {$var.title}">{$var.2}</a></td>
									<td style="color:{$var.status_color}">{$var.3}</td>
									<td>{$var.4}</td>
									<td>{$var.5}</td>
									<td>{$var.6}</td>
								</tr>
								{/foreach}
							</tbody>
						</table>
						{else}
						{if $preview}
						<div class="alert alert-info" role="alert">Tidak ada data</div>
						
						{/if}
						{/if}
					</form>
					</div> <!-- /.table-responsive -->
					

				</div> <!-- /.portlet-content -->

			</div> <!-- /.portlet -->

		

		</div> <!-- /.col -->

	</div> <!-- /.row -->

</div>