
<script>
function confirmpass(){
		var pass1 = $('#password').val();
		var pass2 = $('#repassword').val();
		
		if(pass1 != pass2){
			alert('Re-enter password did not match');
			return false;
		}
	}

function changePass(){
	$('.hid').removeAttr("style");
	$('#old_password').removeAttr("disabled");
	$('#password').removeAttr("disabled");
	$('#repassword').removeAttr("disabled");
}
</script>

<div id="content-header">
	<h1><i class="fa fa-cogs"></i> Settings</h1>
</div> <!-- #content-header -->	

<div id="content-container">

	<div class="row">
		<div class="col-md-9 col-sm-8">

		  <div class="tab-content stacked-content">
			<div class="tab-pane fade in active" id="profile-tab">
			  
			  <h3 class="">Admin Configuration</h3>

			  <hr />

			  <br />

			  <form id="validate-enhanced" class="form-horizontal parsley-form" method="post" action="{$basedomain}profile/setting" enctype="multipart/form-data" onsubmit="return confirmpass()">

				
				<div class="form-group">

					<label class="col-md-3">Username</label>

					<div class="col-md-7">
						<input type="text" name="username" id="username" value="{$admin.username}" class="form-control" data-required="true" />
					</div> <!-- /.col -->
				<span class="help-block" id="help-username"></span>
				</div> <!-- /.form-group -->
				
				<div class="form-group">

					<label class="col-md-3">Name</label>

					<div class="col-md-7">
						<input type="text" name="name" value="{$admin.name}" class="form-control" data-required="true" data-required="true"/>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->

				<div class="form-group">

					<label class="col-md-3">Email Address</label>

					<div class="col-md-7">
						<input type="text" name="email" value="{$admin.email}" class="form-control" data-required="true"/>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->

				<div class="hid form-group" style="display:none;">

					<label class="col-md-3">Old Password</label>

					<div class="col-md-7">
						<input type="password" name="old_password" id="old_password" value="" class="form-control" disabled required/>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->

				<div class="hid form-group" style="display:none;">

					<label class="col-md-3">New Password</label>

					<div class="col-md-7">
						<input type="password" name="password" id="password" value="" class="form-control" disabled required/>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->
				
				<div class="hid form-group" style="display:none;">

					<label class="col-md-3">Re-enter Password</label>

					<div class="col-md-7">
						<input type="password" name="repassword" id="repassword" value="" class="form-control" disabled required/>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->
				

				<br />

				<div class="form-group">

					<div class="col-md-7 col-md-push-3">
						<button type="submit" class="btn btn-success">Save change</button>
						&nbsp;
						<button type="button" class="btn btn-primary" onclick="return changePass()">Change Password</button>
						&nbsp;
						<button type="reset" class="btn btn-default">Cancel</button>
					</div> <!-- /.col -->

				</div> <!-- /.form-group -->
				
				<!-- hidden -->
				<input type="hidden" name="token" value="1">
				<!-- hidden -->
			  </form>


			</div>
		  </div>

	</div> <!-- /.col -->
	</div>
</div>