<!--JAVASCRIPT-->
	<!--=================================================-->
	
	<!--Nifty Admin [ RECOMMENDED ]-->
	<script src="{$basedomain}js/nifty.min.js"></script>


	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}js/demo/nifty-demo.min.js"></script>

	<!--DataTables Sample [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/tables-datatables.js"></script>

	<!--Form Component [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/form-component.js"></script>

	<!--Bootstrap Table [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-table/bootstrap-table.min.js"></script>


	<!--Bootstrap Table Extension [ OPTIONAL ]-->
	<script src="{$basedomain}plugins/bootstrap-table/extensions/editable/bootstrap-table-editable.js"></script>


	<!--Demo script [ DEMONSTRATION ]-->
	<script src="{$basedomain}js/demo/nifty-demo.min.js"></script>


	<!--Bootstrap Table Sample [ SAMPLE ]-->
	<script src="{$basedomain}js/demo/tables-bs-table.js"></script>
	
	<!--Form Component [ SAMPLE ]-->
	<script src="js/demo/form-component.js"></script>
