
<script type="text/javascript">

  {literal}

  	$(function () {
		$('#postdate1').datepicker ();
		$('#expiredate1').datepicker ();
		
		$("#isi").jqte();
		

	})

    $(document).on('change', '.pilihmerek', function(){


      var id = $(this).val();

      $.post(basedomain+'evaluasi/ajax',{merek:id}, function(data){

        var html = "";

        if (data.status==true){


        	$('.namaprodusen').val(data.res[0].produsen);
        	$('.jenisrokok').val(data.res[0].jenis);
        	$('.alamatprodusen').val(data.res[0].alamat);
        	
          
        } 
        
      }, "JSON")  

    })
  {/literal}
</script>


<div id="content-header">
	<h1>Detail Evaluasi</h1>
</div> <!-- #content-header -->	

<div id="content-container">

	{if $status}
		<div class="alert alert-success" role="alert">Data berhasil disimpan</div>
	{/if}
	<form id="validate-enhanced" class="form parsley-form" method="post" action="" enctype="multipart/form-data">
		
		{if !$addnew}
		<button type="submit" class="btn btn-info" id="btn-dis"><i class="fa fa-save"></i> Update Data</button>

		<a href="{$basedomain}evaluasi/detail/?id={$id}&act=2" ><button type="button" class="btn btn-success" id="btn-dis"><i class="fa fa-check"></i> Approved</button></a>
		
		<a href="{$basedomain}evaluasi/detail/?id={$id}&act=3" ><button type="button" class="btn btn-danger" id="btn-dis"><i class="fa fa-multiply"></i> Rejected</button></a>

		<a href="{$basedomain}evaluasi/detail/?id={$id}" ><button type="button" class="btn btn-warning" id="btn-dis"><i class="fa fa-refresh"></i> Reload</button></a>
		<input type="hidden" name="id" value="{$data.id}">
		{else}
		<button type="submit" class="btn btn-info" id="btn-dis"><i class="fa fa-save"></i> Simpan Data</button>

		{/if}

		<div class="portlet">
			<div class="portlet-header">

				<h3>
					<i class="fa fa-file"></i>
					Gambar Kemasan
				</h3>

			</div> <!-- /.portlet-header -->
			<div class="portlet-content">
				<div class="col-md-3">
					<img src="{$basedomain}">
				</div>
					
			</div>
		</div>

		<div class="row" style="margin-top:10px;">
			<div class="col-md-12">
				<div class="span6" style="border:1px solid #bbb;border-radius:10px;padding:10px 20px 10px 20px;">
					<table class="table">
						
						<thead>
						<tr>
							<th>No</th>
							<th align="center">Item</th>
							<th align="center">Evaluasi</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td>1</td>
							<td>Nama Merek Rokok</td>
							<td><select class="form-control pilihmerek">
									<option>-Pilih Merek-</option>
									{foreach $getMerek as $val}
									<option value="{$val.id}">{$val.merek}</option>
									{/foreach}
								</select></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Nama Produsen / Importir</td>
							<td><input type="text" name="produsen" class="form-control namaprodusen" value="{$data.produsen}" disabled/></td>
						</tr>
						<tr>
							<td>3</td>
							<td>Jenis Rokok</td>
							<td><input type="text" name="jenis" class="form-control jenisrokok" value="{$data.jenis}" disabled/></td>
						</tr>
						<tr>
							<td>4</td>
							<td>Tanggal Pembelian</td>
							<td><div id="tanggalBeli" class="input-group date" data-auto-close="true" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
									<input class="form-control" type="text" name="tanggalBeli" value="{$data.tanggalBeli}" data-required="true">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Lokasi Pembelian</td>
							<td><input type="text" name="lokasiBeli" class="form-control" value="{$data.lokasiBeli}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Kata promotif dan menyesatkan</td>
							<td><input type="checkbox" name="kataPromotif" class="form-control" value="{$data.kataPromotif}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Evaluasi informasi kesehatan (MK/TMK)</td>
							<td><input type="checkbox" name="evaluasiInformasi" class="form-control" value="{$data.evaluasiInformasi}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>KESIMPULAN (MK/TMK)</td>
							<td><input type="checkbox" name="kesimpulan" class="form-control" value="{$data.kesimpulan}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Tahun</td>
							<td><input type="checkbox" name="tahun" class="form-control" value="{$data.tahun}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Harga</td>
							<td><input type="checkbox" name="harga" class="form-control" value="{$data.harga}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Jenis Gambar</td>
							<td><select class="form-control pilihmerek">
									<option>1</option>
									{foreach $getMerek as $val}
									<option value="{$val.id}">{$val.merek}</option>
									{/foreach}
								</select></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Tulisan Peringatan Kesehatan</td>
							<td><input type="checkbox" name="tulisanGambar" class="form-control" value="{$data.tulisanGambar}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Luas Depan (%)</td>
							<td><input type="checkbox" name="luasPeringatan_depan" class="form-control" value="{$data.luasPeringatan_depan}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Luas Belakang (%)</td>
							<td><input type="checkbox" name="luasPeringatan_belakang" class="form-control" value="{$data.luasPeringatan_belakang}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Warna dan Kejelasan Gambar</td>
							<td><input type="checkbox" name="warnaGambar" class="form-control" value="{$data.warnaGambar}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Evaluasi Kesehatan</td>
							<td><input type="checkbox" name="evaluasiPeringatan" class="form-control" value="{$data.evaluasiPeringatan}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Upload Gambar</td>
							<td><input type="file" name="gambar" class="form-control" value="{$data.evaluasiPeringatan}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Kadar Nikotin (mg)</td>
							<td><input type="text" name="kadarNikotin" class="form-control" value="{$data.kadarNikotin}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Kadar Tar (mg)</td>
							<td><input type="text" name="kadarTar" class="form-control" value="{$data.kadarTar}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Penulisan</td>
							<td><input type="text" name="kadarPenulisan_sisi" class="form-control" value="{$data.kadarPenulisan_sisi}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Tulisan</td>
							<td><input type="text" name="kadarTulisan" class="form-control" value="{$data.kadarTulisan}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Pernyataan "dilarang menjual atau memberi kepada anak dan  perempuan hamil"</td>
							<td><input type="text" name="pernyataanUtama" class="form-control" value="{$data.pernyataanUtama}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Kode Produksi</td>
							<td><input type="text" name="kodeProduksi" class="form-control" value="{$data.kodeProduksi}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Tgl Produksi</td>
							<td><div id="tanggalProduksi" class="input-group date" data-auto-close="true" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
									<input class="form-control" type="text" name="tanggalProduksi" value="{$data.tanggalProduksi}" data-required="true">
									<span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Nama dan Alamat Produsen</td>
							<td><input type="text" name="alamat" class="form-control alamatprodusen" value="{$data.alamat}" disabled/></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Pernyataan "tidak ada batas aman"</td>
							<td><input type="text" name="pernyataanBatas_aman" class="form-control" value="{$data.pernyataanBatas_aman}" /></td>
						</tr>
						<tr>
							<td>5</td>
							<td>Pernyataan "mengandung lebih dari 4000 zat kimia …..."</td>
							<td><input type="text" name="pernyataanZat_kimia" class="form-control" value="{$data.pernyataanZat_kimia}" /></td>
						</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</div>

		
	
	</form>
</div>